* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

.message__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: self-end;
}

.message__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.message__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    min-height: 100px;
    background-color: #ff6f00;
    border-radius: 10px;
    margin: 0 0 30px 50px;
    align-items: inherit;
}

.message__box_descr {
    max-width: 250px;
    width: 100%;
    padding: 10px;
}

.message__text {
    color: #212121   ;
}

.message__time {
    color: #004d40;
}

.decor {
    position: absolute;
}

.decor::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -15px;;
    left: -32px;;
    background-color: #ff6f00;
    border-top-left-radius: 30px;
}


.decor::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 100px;
    bottom: -12px;
    left: -35px;
    background-color: #000000;
    border-bottom-right-radius: 24px;
    z-index: 2;
}

